<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Demo</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">

        <style type="text/css">
            .gif-preview {
                float: left;
                height: 200px;
            }
            .preview-window {
                height: 300px;
                width: 60%;
                overflow-y: scroll;
            }
            input[name=query] {
              margin-bottom: 30px;
            }
            .gif-box {
              position: relative;
              background: #333;
            }
            .gif-user   {
              display: flex;
              align-items: center;
              position: absolute;
              left: 15px;
              bottom: 15px;
            }
            .gif-user img {
              margin-right: 8px;
            }






        </style>
    </head>

    <body>
      
        <section id="app" class="section container">    

          <!-- SEARCH ========================================== -->
          <h2 class="title">Search</h2>

          <input type="text" class="input" name="query" v-model="query" @keyup="searchGifs">

          <div class="columns is-multiline" v-if="searchedGifs">
            <div class="column is-one-quarter" v-for="gif in searchedGifs">
              <div class="gif-box">
                <a :href="gif.url">
                  <img class="gif-image" :src="gif.images.original.url">
                </a>
                <a 
                  class="gif-user" 
                  v-if="gif.user" 
                  :href="gif.user.profile_url">
                    <img :src="gif.user.avatar_url" height="40" width="40">
                    {{ gif.user.display_name }}
                </a>
              </div>
            </div>
          </div>

         

        </section>

        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>  

        <script src="node_modules/axios/dist/axios.js"></script>
        <script src="node_modules/vue/dist/vue.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>